In [20]:
import pandas as pd

In [21]:
test = pd.DataFrame({'deez': [1, 2, 3], 'nuts': ['ok', 'a', 'al']})

In [22]:
test

   deez nuts
0     1   ok
1     2    a
2     3   al

In [16]:
exclude = ['ok']

In [17]:
name_list = test['nuts'].to_list()

In [24]:
name_list

['ok', 'a', 'al']

In [28]:
[item for item in name_list if item not in exclude]

['a', 'al']

In [31]:
from random import sample
sample(name_list,2)

['a', 'ok']

In [32]:
['ok', 'ok', 'al']

['ok', 'ok', 'al']

In [34]:
len(set(['ok', 'ok', 'al']))

2